.m-discuss-container {
    left: 0px;
    top: 0px;
    width: 1260px;
    height: 300px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
}

.m-discuss-img_img0 {
    border-radius: 0px;
}

.m-discuss-img {
    left: 0px;
    top: 52px;
    width: 380px;
    height: 69px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
}

.m-discuss-title_span0 {
    line-height: 29px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.m-discuss-title {
    left: 100px;
    top: 133px;
    width: 183px;
    height: 29px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
    line-height: 29px;
}

.m-discuss-join_span0 {
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.m-discuss-join {
    left: 90px;
    top: 186px;
    width: 200px;
    height: 40px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
    background-color: rgb(86, 185, 41);
    line-height: 40px;
}

.m-discuss-content {
    left: 428px;
    top: 35px;
    width: 832px;
    height: 230px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
}

.f-if-true_div0 {
    left: 0px;
    top: 0px;
    width: 300px;
    height: 17px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    line-height: 13px;
}

.f-if-true_div0_a0 {
    display: inline-block;
    width: 100%;
}

.f-if-true_div0_a0_span0 {
    line-height: 13px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-family: 微软雅黑, "Microsoft YaHei";
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.m-discuss-introFunc {
    left: 40px;
    top: 236px;
    width: 300px;
    height: 17px;
    z-index: 0;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: absolute;
}
