<application>
    <vbox height="100%">
        <container prefer="40" style="margin-bottom:3px;">
            <region name="toolbar" controller="@binding[toolbar]" height="100%"></region>
        </container>
        <hbox>
            <tab prefer="200" maxTabWidth="67" minTabWidth="100">
                <panel title="页面">
                    <region name="page" controller="@binding[page]" style="height:100%"></region>
                </panel>
                <panel title="组件">
                    <region name="component" controller="@binding[component]" style="height:100%"></region>
                </panel>
                <panel title="层级">
                    <region name="hierarchy" controller="@binding[hierarchy]" style="height:100%"></region>
                </panel>
            </tab>
            <region flex="1" name="viewport" style="margin:10px;" controller="@binding[viewport]"></region>
            <region prefer="280" name="property" controller="@binding[property]"></region>
        </hbox>
    </vbox>
</application>
